<div class="row">
  <div class="col-md-4 mx-auto">
    <h1><%= t 'views.app.new_app' %></h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4 mx-auto">
    <%= render 'apps/form' %>
  </div>
</div>