<div class="row">
  <div class="col-6 col-md-2 sidebar-offcanvas ml-5" id="sidebar">
    <div class="list-group">
      <form class="">
        <input class="form-control" type="text" placeholder="サーチ。。。" aria-label="Search">
      </form>
      <a href="#" class="list-group-item active">拡張機能</a>
      <a href="#" class="list-group-item">テーマ</a>
      <a href="#" class="list-group-item">アプリ</a>
      <a href="#" class="list-group-item">ゲーム</a>
    </div>
  </div>
  <div class="col-md-9">
    <% @categories.each do |category|
      @ctg_apps = Array(App.limit(6).find_by(:category => category.id))
    %>
        <% if @ctg_apps.length > 0 %> <h3><%= category.name %></h3>

            <div class="row">
              <% @ctg_apps.each do |app| %>
                  <div class="card-deck col-md-2">
                    <div class="card">
                      <%= image_tag app.picture.url, class: "card-img-top" %>
                      <div class="card-block">
                        <h4 class="card-title"><%= link_to app.name, app %></h4>
                        <span></span>
                        <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                      </div>
                    </div>
                  </div>

              <% end %>
            </div>
        <% end %>
    <% end %>
  </div>
</div>