<div class="modal fade" id="modal_photo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">
        <%= image_tag photo.url %>
      </div>

    </div>
  </div>
</div>

