/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 */
@import "bootstrap";
@import "font-awesome";
.modal-dialog{
	max-width: 1000px;
}
img{
	max-width: 100%;
}
// css cho thong bao loi sau khi dang ki user:
.field_with_errors{
	font-weight: bold;
	color: red;
	input{
		border-color: red;
	}
}
.feedback{
	color: red;
}

// css doan nay de khi hover qua picture thi show nut edit:
div#show-avatar {  
  position: relative;  
}

div#show-avatar:hover label{
  display: block;
}

div#show-avatar label {
  position:absolute;
  top:0;
  right:15px;
  color: orange;
  display:none;
}

//css cho cac bai review va comment
.review,.kuchikomi{
	>div{
		padding-left: 0;
	}
	padding-left: 0;
	margin-bottom: 20px;
	border-top: 2px solid #ccc;
	border-radius: 10px 10px;
	img{
		border-radius: 10px;		
	}
	a{		
		color: red;		
	}
}