<hr />
<div class="text-center center-block">
    <p class="txt-railway">- Taiyou.com -</p>
    <br />
    <a href="https://www.facebook.com/bootsnipp">
        <i class="fa fa-facebook-square fa-3x social"></i>
    </a>
    <a href="https://twitter.com/bootsnipp">
        <i class="fa fa-twitter-square fa-3x social"></i>
    </a>
    <a href="https://plus.google.com/+Bootsnipp-page">
        <i class="fa fa-google-plus-square fa-3x social"></i>
    </a>
    <a href="mailto:bootsnipp@gmail.com">
        <i class="fa fa-envelope-square fa-3x social"></i>
    </a>
</div>
<hr />